<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../common/head %>
</head>
<body class="">
    <%- include ../common/body_navi_header %>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="card">
                <div class="card-header">
                    <h5>부서 등록</h5> 
                </div>
                <div class="card-body">
                    <form id="department_add_form" action="/department/add" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">소속</label>
                                    <select id="department_division_select" class="form-control" name="department_division">
                                        <% for(var i = 0; i < divisions.length; i++) { %>
                                        <option value="<%= divisions[i].id %>"><%= divisions[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">부서명</label>
                                    <input type="text" class="form-control" name="department_name" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">전화번호</label>
                                    <input type="text" class="form-control" name="department_telephone" placeholder="없으면 입력 X">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="department_add_submit()">등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <%- include ../common/script %>

</body>

</html>