<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../common/head %>
</head>
<body class="">
    <%- include ../common/body_navi_header %>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="card">
                <div class="card-header">
                    <h5>부서 수정</h5> 
                </div>
                <div class="card-body">
                    <form id="department_edit_form" action="/department/edit" method="post">
                    	<input type="hidden" name="department_id" value="<%= department.id %>">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">소속</label>
                                    <select id="department_division_select" class="form-control" name="department_division">
                                        <% for(var i = 0; i < divisions.length; i++) { %>
                                        <option value="<%= divisions[i].id %>"><%= divisions[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">부서명</label>
                                    <input type="text" class="form-control" name="department_name" placeholder="" value="<%= department.department_name %>">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">전화번호</label>
                                    <input type="text" class="form-control" name="department_telephone" placeholder="없으면 입력 X" value="<%= department.telephone %>">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">순서</label>
                                    <input type="text" class="form-control" name="department_orderseq" placeholder="" value="<%= department.order_seq %>">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">활성화</label>
                                    <select id="department_is_active_select" class="form-control" name="department_isactive">
                                        <option value="1">ON</option>
                                        <option value="0">OFF</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="department_edit_submit()">수정</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <%- include ../common/script %>

    <script>
    	window.onload = function(){
            $('#department_division_select').val('<%= department.division_id %>').prop('selected', true);
            $('#department_is_active_select').val('<%= department.is_active %>').prop('selected', true);
        }
    </script>

</body>

</html>