<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../common/head %>
</head>
<body class="">
    <%- include ../common/body_navi_header %>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">계정관리</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">계정관리</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- customar project  start -->
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center m-l-0">
                                <div class="col-sm-6 offset-sm-6 text-right">
                                    <!-- <button class="btn btn-success btn-sm  mb-3 btn-round" onclick="location.href='/employeeadd'"><i class="feather icon-plus"></i>직원 등록</button> -->
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="report-table" class="table table-bordered table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>계정</th>
                                            <th>옵션</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<% for(var i = 0; i < data.length; i++) { %>
                                         <tr>
                                         	<td><%= data[i].account %></td>
                                            <td>
                                                <a href="#" onclick="account_alert_resetpassword('<%= data[i].id %>');" class="btn btn-success btn-sm" ><i class="feather icon-edit"></i>&nbsp;비밀번호 초기화</a>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- customar project  end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <%- include ../common/script %>
</body>

</html>
