<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../common/head %>
</head>
<body class="">
    <%- include ../common/body_navi_header %>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="card">
                <div class="card-header">
                    <h5>직원 등록</h5> 
                </div>
                <div class="card-body">
                    <form id="employee_add_form" action="/employee/add" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">이름</label>
                                    <input type="text" class="form-control" name="employee_name" placeholder="이민재">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">회사메일</label>
                                    <input type="text" class="form-control" name="employee_email" placeholder="mjlee@andk.co.kr">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">                                    
                                    <label class="form-label">성별</label>
                                    <select class="form-control" name="employee_gender">
                                        <option value="1">남자</option>
                                        <option value="0">여자</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">핸드폰</label>
                                    <input type="text" class="form-control" name="employee_phone" placeholder="010-6376-2215">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">내선번호</label>
                                    <input type="text" class="form-control" name="employee_extensionnum" placeholder="129">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">생일</label>
                                    <input type="text" class="form-control" name="employee_birth" placeholder="1990-08-30">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">입사일</label>
                                    <input type="text" class="form-control" name="employee_join" placeholder="2020-03-23">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">소속</label>
                                    <select id="employee_division_select" class="form-control" name="employee_division" onchange="setDepartments()">
                                        <% for(var i = 0; i < divisions.length; i++) { %>
                                        <option value="<%= divisions[i].id %>"><%= divisions[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">부서</label>
                                    <select id="employee_department_select" class="form-control" name="employee_department">
                                        <% for(var i = 0; i < adk_departments.length; i++) { %>
                                        <option value="<%= adk_departments[i].id %>"><%= adk_departments[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">직급</label>
                                    <select id="employee_position_select" class="form-control" name="employee_position">
                                        <% for(var i = 0; i < positions.length; i++) { %>
                                        <option value="<%= positions[i].id %>"><%= positions[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">최종학력</label>
                                    <select id="employee_final_education_select" class="form-control" name="employee_final_education">                                        
                                        <option value="0">고졸</option>
                                        <option value="1">대졸(전문대)</option>
                                        <option value="2">대졸(4년제)</option>
                                        <option value="3">석사</option>
                                        <option value="4">박사</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="form-label">학교명</label>
                                    <input type="text" class="form-control" name="employee_school_name" placeholder="000학교">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">프로필 사진</label>
                                    <div>
                                        <input type="file" class="validation-file" name="employee_profile" accept="image/*" onchange="setPreview(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="form-label">연봉</label>
                                    <textarea style="resize:none" rows="7" cols="20" class="form-control" name="employee_annual_incomes" placeholder="2020년 4,000만원"></textarea>
                                </div>
                            </div>
                            <div id="image_container" class="col-md-12">
                                <img id="profile_preview" style="display: none">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="employee_add_submit()">등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <%- include ../common/script %>

    <!--Single Date Picker-->
    <script>
        $(window).ready(function() {
            $(function() {
                $('input[name="employee_birth"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    minYear: 1901,
                    locale: {
                        format: 'YYYY-MM-DD'
                    }
                }, function(start, end, label) {
                    
                });

                $('input[name="employee_join"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    minYear: 1901,
                    locale: {
                        format: 'YYYY-MM-DD'
                    }
                }, function(start, end, label) {
                    
                });
            });
        });
    </script>

    <script>
        window.onload = function(){
            <% for(var i = 0; i < adk_departments.length; i++){ %>
            	getAdkDepartments('<%= adk_departments[i].name %>', '<%= adk_departments[i].id %>')
            <% } %>

            <% for(var i = 0; i < adks_departments.length; i++){ %>
            	getAdksDepartments('<%= adks_departments[i].name %>', '<%= adks_departments[i].id %>')
            <% } %>
        }
    </script>

</body>

</html>