<!DOCTYPE html>
<html lang="en">

<head>
    <title>AND ADMIN</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Codedthemes" />
    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/plugins/dataTables.bootstrap4.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Datepicker css ver 1.9-->
    <link href="assets/css/plugins/bootstrap-datepicker3.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .menu-styler {
            display: none !important;
        }
    </style>
</head>
<body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar menupos-fixed ">
        <div class="navbar-wrapper  ">
            <div class="navbar-content scroll-div " >                
                <ul class="nav pcoded-inner-navbar ">
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">관리목록</span></a>
                        <ul class="pcoded-submenu">
                            <li><a href="/">직원관리</a></li>
                            <li><a href="/board">게시글관리</a></li>
                            <li><a href="/department">부서관리</a></li>
                            <li><a href="/">푸시알림관리</a></li>
                            <li><a href="/">계정관리</a></li>
                        </ul>
                    </li>
                </ul>               
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="/" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <!-- ========   change your logo hear   ============ -->
                <img src="assets/images/logo.png" alt="" class="logo" style="width:100px;">
            </a>
        </div>
    </header>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="card">
                <div class="card-header">
                    <h5>직원 정보 수정</h5> 
                </div>
                <div class="card-body">
                    <form id="employee_edit_form" action="/employeeedit" method="post" enctype="multipart/form-data">
                    	<input type="hidden" name="employee_id">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">이름</label>
                                    <input type="text" class="form-control" name="employee_name" placeholder="이민재">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">회사메일</label>
                                    <input type="text" class="form-control" name="employee_email" placeholder="mjlee@andk.co.kr">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">                                    
                                    <label class="form-label">성별</label>
                                    <select id="employee_gender_select" class="form-control" name="employee_gender">
                                        <option value="1">남자</option>
                                        <option value="0">여자</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">                                    
                                    <label class="form-label">푸시알람</label>
                                    <select id="employee_ispush_select" class="form-control" name="employee_ispush">
                                        <option value="1">ON</option>
                                        <option value="0">OFF</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">핸드폰</label>
                                    <input type="text" class="form-control" name="employee_phone" placeholder="010-6376-2215">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">내선번호</label>
                                    <input type="text" class="form-control" name="employee_extensionnum" placeholder="129">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">생일</label>
                                    <input type="text" class="form-control" name="employee_birth" placeholder="1990-08-30">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">입사일</label>
                                    <input type="text" class="form-control" name="employee_join" placeholder="2020-03-23">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">퇴사일</label>
                                    <input type="text" class="form-control" name="employee_leave" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">소속</label>
                                    <select id="employee_division_select" class="form-control" name="employee_division" onchange="setDepartments()">
                                        <% for(var i = 0; i < divisions.length; i++) { %>
                                        <option value="<%= divisions[i].id %>"><%= divisions[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">부서</label>
                                    <select id="employee_department_select" class="form-control" name="employee_department">
                                        <% for(var i = 0; i < adk_departments.length; i++) { %>
                                        <option value="<%= adk_departments[i].id %>"><%= adk_departments[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">직급</label>
                                    <select id="employee_position_select" class="form-control" name="employee_position">
                                        <% for(var i = 0; i < positions.length; i++) { %>
                                        <option value="<%= positions[i].id %>"><%= positions[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">프로필 사진</label>
                                    <div>
                                        <input type="file" class="validation-file" name="employee_profile" accept="image/*" onchange="setPreview(event)">
                                    </div>
                                </div>
                            </div>
                            <div id="image_container" class="col-md-12">
                                <img id="profile_preview" style="display: none; max-width:200px; width: 100%">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="employee_edit_submit()">수정</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- [ Main Content ] end -->

    <!-- Required Js -->
    <script src="javascripts/admin.js"></script>

    <script src="assets/js/vendor-all.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/pcoded.min.js"></script>
    <script src="assets/js/menu-setting.min.js"></script>

    <script src="assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="assets/js/plugins/dataTables.bootstrap4.min.js"></script>
    <!-- Apex Chart -->
    <script src="assets/js/plugins/apexcharts.min.js"></script>


    <!-- Datepicker Js -->
    <script src="assets/js/plugins/moment.min.js"></script>
    <script src="assets/js/plugins/daterangepicker.js"></script>

    <!--Single Date Picker-->
    <script>
        $(window).ready(function() {
            $(function() {
                $('input[name="employee_birth"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    minYear: 1901,
                    locale: {
                        format: 'YYYY-MM-DD'
                    }
                }, function(start, end, label) {
                    
                });

                $('input[name="employee_join"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    minYear: 1901,
                    locale: {
                        format: 'YYYY-MM-DD'
                    }
                }, function(start, end, label) {
                    
                });

                $('input[name="employee_leave"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    minYear: 1901,
                    locale: {
                        format: 'YYYY-MM-DD'
                    }
                }, function(start, end, label) {
                    
                });
            });
        });
    </script>
    <script>
    	window.onload = function(){
    		<% for(var i = 0; i < adk_departments.length; i++){ %>
            	getAdkDepartments('<%= adk_departments[i].name %>', '<%= adk_departments[i].id %>')
            <% } %>

            <% for(var i = 0; i < adks_departments.length; i++){ %>
            	getAdksDepartments('<%= adks_departments[i].name %>', '<%= adks_departments[i].id %>')
            <% } %>

            // ADKS Department로 세팅	
            <% if (employee.division_id != '58053d75-c1fe-11ea-9982-20cf305809b8') { %>	
            	$("#employee_department_select").children('option').remove();	
            <%	for(var i = 0; i < adks_departments.length; i++) { %>	
            		$("#employee_department_select").append("<option value='<%=	adks_departments[i].id %>'><%= adks_departments[i].name %></option>");	
            <% } %>         		
            <% } %>

            $('input[name="employee_id"]').val('<%= employee.id %>');	
            $('input[name="employee_name"]').val('<%= employee.name %>');	
            $('input[name="employee_email"]').val('<%= employee.email %>');	
            $('#employee_gender_select').val('<%= employee.gender %>').prop('selected', true);	
            $('#employee_ispush_select').val('<%= employee.is_push %>').prop('selected', true);	
            $('input[name="employee_phone"]').val('<%= employee.phone %>');	
            $('input[name="employee_extensionnum"]').val('<%= employee.extension_number %>');	
            $('input[name="employee_birth"]').val('<%= employee.birth %>');	
            $('input[name="employee_join"]').val('<%= employee.join_date %>');
            $('#employee_division_select').val('<%= employee.division_id %>').prop('selected', true);	
            $('#employee_department_select').val('<%= employee.department_id %>').prop('selected', true);	
            $('#employee_position_select').val('<%= employee.position_id %>').prop('selected', true);
            
            <% if(employee.profile_img != null) { %>
            	$('#profile_preview').css('display', 'block');
            	$('#profile_preview').attr('src', '<%= employee.profile_img %>');
            <% } %>	

            $('input[name="employee_leave"]').val('1901-01-01');
            <% if(employee.leave_date != null) { %>
                $('input[name="employee_leave"]').val('<%= employee.leave_date %>');
            <% } %> 
            
    	}
    </script>
</body>

</html>