<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../common/head %>
</head>
<body class="">
    <%- include ../common/body_navi_header %>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="card">
                <div class="card-header">
                    <h5>게시글 수정</h5> 
                </div>
                <div class="card-body">
                    <form id="board_edit_form" action="/board/edit" method="post" enctype="multipart/form-data">
                    	<input type="hidden" name="board_id" value="<%= board.id %>">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">카테고리</label>
                                    <select id="board_category_select" class="form-control" name="board_category">
                                        <% for(var i = 0; i < categories.length; i++) { %>
                                        <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">제목</label>
                                    <input type="text" class="form-control" name="board_title" placeholder="ex)게시글 작성 관련 건" value="<%= board.title %>">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">내용</label>
                                    <textarea id="board_contents_textarea" class="form-control" name="board_contents" rows="10"><%= board.contents %></textarea>
                                </div>
                            </div>
                            <!--추후 앱에서 사진 첨부 기능 추가되면 추가-->
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">사진 첨부</label>
                                    <div>
                                        <input type="file" class="validation-file" name="board_img" accept="image/*" onchange="setPreview(event)">
                                    </div>
                                </div>
                            </div>
                            <div id="image_container" class="col-md-12">
                                <img id="profile_preview" style="display: none">
                            </div> -->
                        </div>
                        <button type="button" class="btn btn-primary" onclick="board_edit_submit()">수정</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <%- include ../common/script %>

    <script>
    	window.onload = function(){
            $('#board_category_select').val('<%= board.category_id %>').prop('selected', true);
        }
    </script>

</body>

</html>